@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    background-color: pink;
    font-family: Times New Roman;
}

h2 {
    font-size: 100px;
    margin: 0px 100px;
    padding-top: 500px;
    padding-left: 100px;
}
