@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    background-color: pink;
    font-family: Times New Roman;
}

/* form { */
/*     font-size: 60px; */
/* } */

input[type="checkbox"] {
    height: 200px;
    width: 200px;
    margin: 40px 40px;
    vertical-align:middle;
}

label {
    font-size: 90px;
    vertical-align:middle;
}

label[for="date_1"] {
    background-color: rgb(254,127,156);
}

label[for="date_2"] {
    background-color: rgb(254,127,156);
}

label[for="date_3"] {
    background-color: rgb(254,127,156);
}

button {
    background-color: rgb(254,127,156);
    font-size: 200px;
    width: 1000px;
    height: 450px;
    margin-top: 130px;
}
