@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    background-color: pink;
    font-family: Times New Roman;
}

form {
    font-size: 60px;
}

input {
    background-color: rgb(254,127,156);
    font-size: 70px;
    height: 120px;
}

label[for="male"] {
    font-size: 70px;
}

label[for="female"] {
    font-size: 70px;
}

input[type="radio"] {
    background-color: rgb(254,127,156);
    /*transform: scale(5);*/
    height: 100px;
    width: 100px;
    margin: 40px 40px;
}
input[type="checkbox"]{
    background-color: rgb(254,127,156);
    height: 100px;
    width: 100px;
    margin: 40px 40px;
}

button {
    background-color: rgb(254,127,156);
    font-size: 200px;
    width: 1000px;
    height: 450px;
    margin-top: 130px;
}
#dates{
    font-size: 4cm;
}
.joined{
    font-size:2cm;
}

#participantEvent{
    display:none;
}
#rating{
    display:none;
}
#ratingButton{
    display:none;
}

#share{
    display:none;
}

#receiveInformation{
    font-size:100px;
}
