@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';
@import 'https://fonts.googleapis.com/css?family=ABeeZee';

body {
    background-color: rgb(125,150,250);
    background-image: linear-gradient(rgb(125,150,250),white);
    font-family: "ABeeZee",Times New Roman;
}
em{
    font-size: 80px;
}
form {
    font-size: 70px;
    text-align:left;

}
h1{
    font-size:2.5cm;
}
h2{
    font-size:2cm;
}
p{
    font-size:1cm;
}
hr{
    background-color: black;
}
input {
    background-color: white;
    font-size: 70px;
    height: 120px;
    width: 75%;
}

label {
    font-size:70px;

 }
input[type="radio"] {
    /*transform: scale(5);*/
    height: 100px;
    width: 100px;
    margin: 40px 40px;
}
input[type="checkbox"]{
    background-color: rgb(254,127,156);
    height: 100px;
    width: 100px;
    margin: 40px 40px;
}
button {
    border:5px solid  black;
    font-size: 30px;
    width:100%;
    height: 450px;
    margin-top: 30px;

}

button:hover{
    background-color:rgb(125,150,250);
}
#buttonbox{
    display:grid;
    justify-content: left;
    grid-gap:20px;
}
/*The "you will meet" - section */
#dates{
    font-size: 4cm;
}

#participantEvent{
    display:none;
}
#rating{
    display:none;
}
#ratingButton{
    font-size:100px;
    display:none;
}

#share{
    display:none;
}

#contactInfo{
    display:none;
}
#sendInformation{
    font-size:100px;

}
#receiveInformation{
    font-size:100px;
}

#contactInfoButton {

    grid-column:1;
    width: 140px;
    height: 100px;
    margin-bottom: 20px;
}
#viewRatings{
    grid-column:2;
    width: 140px;
    height: 100px;

}
#sendButton{
    font-size:100px;
}
#listContactInfo {
    font-size: 60px;
    margin-top: 50px;
}

#clearDataButton {
    /*background-color: rgb(254,127,156);*/
    font-size: 80px;
    margin-left: 20px;
    width: 450px;
    height: 300px;
    margin-top: 10px;
}

#goBackButton {
    /*background-color: rgb(254,127,156);*/
    font-size: 80px;
    margin-left: 20px;
    width: 450px;
    height: 300px;
    margin-top: 10px;
}
#hideRatingsButton{
    /*background-color: rgb(254,127,156);*/
    font-size: 80px;
    margin-left: 20px;
    width: 450px;
    height: 300px;
    margin-top: 10px;;
}

.map {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 200px 200px;
    grid-template-columns: auto auto auto auto auto;
    background-color: #fff;
    color: #444;
    border: 10px solid #000000;
    margin: 50px 100px;
    border-radius: 10px;

}

.table {
    background-color: brown;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    width: 40px;
    height: 30px;
    margin: auto;
}
#formerRatings{
    display:none;
}

.ratingValues{
    font-size: 80px;
}
