@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    background-color: pink;
    font-family: Times New Roman;
    font-size:100px;
    text-align:center;
    margin-top: 25%;
}

h2 {
    font-size: 100px;
    margin: 0px 100px;
}

#map-text {

    font-size: 30%;
}

.map {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 100px 100px;
    grid-template-columns: auto auto auto auto auto;
    background-color: #fff;
    color: #444;
    border: 10px solid #000000;
    margin: 50px 100px;
    border-radius: 10px;

}

.table {
    background-color: brown;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    width: 40px;
    height: 30px;
    margin: auto;

}


.1 {
    grid-row: 1;
    grid-column: 1;
}

.2 {
    grid-row: 1;
    grid-column: 2;
}

.3 {
    grid-row: 1;
    grid-column: 3;
}

.4 {
    grid-row: 1;
    grid-column: 4;
}

.5 {
    grid-row: 1;
    grid-column: 5;
}

.6 {
    grid-row: 2;
    grid-column: 1;
}

.7 {
    grid-row: 2;
    grid-column: 2;
}

.8 {
    grid-row: 2;
    grid-column: 3;
}

.9 {
    grid-row: 2;
    grid-column: 4;
}

.10 {
    grid-row: 2;
    grid-column: 5;
}
