@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    background-color: pink;
    font-family: Times New Roman;
    font-size:100px;
    text-align:center;
    margin-top: 25%;
}



/* button { */
/*     background-color: rgb(254,127,156); */
/*     font-size: 100px; */
/*     width: 1000px; */
/*     height: 450px; */
/*     margin-top: 350px; */
/* } */
