@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    background-color: pink;
    font-family: Times New Roman;
}

header h1 {
    /*font-size: 100px;*/
    font-size: 100px;
    margin-left: 180px;
    margin-top: 500px;
    
    color:rgb(0,0,0);
}

button {
    background-color: rgb(254,127,156);
    font-size: 100px;
    margin-top: 300px;
}
