body {
    background-color: pink;
    font-family: Times New Roman;
}

h1{
    font-size:100px;
}

#receiveInformation {
    font-size: 60px;
    margin-top: 50px;
}

#clearDataButton {
    background-color: rgb(254,127,156);
    font-size: 80px;
    margin-left: 20px;
    width: 450px;
    height: 300px;
    margin-top: 10px;
}

#goBackButton {
    background-color: rgb(254,127,156);
    font-size: 80px;
    margin-left: 20px;
    width: 450px;
    height: 300px;
    margin-top: 10px;
}
