@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-size: 60px;
    background-color: pink;
    font-family: Times New Roman;
}

h2 {
    font-size: 90px;
}


input {
    background-color: rgb(254,127,156);
    font-size: 70px;
    height: 120px;
}

input[type="radio"] {
    background-color: rgb(254,127,156);
    height: 50px;
    width: 50px;
    margin: 40px 40px;
}

button {
    background-color: rgb(254,127,156);
    font-size: 200px;
    width: 1000px;
    height: 450px;
    margin-top: 130px;
}
