@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';



body {
    width:100%;
    height:100%;
    font-family: "Times New Roman", Times, san-serif;
    font-size: 0.6cm;
    margin: 0 auto;
    background-color: pink; /* For browsers that do not support gradients */
    background-image: linear-gradient(pink, white);

}
#main{

    width:100%;
    height:100%;
    border: 10px groove rgb(254,127,156);
    width:46.5cm auto;
}

#header{
    width:100%;
    height:100%;
    margin-top:  1em;
    margin-bottom: 0.5cm;
    border: 10px groove rgb(254,127,156);
    height: 10em;
}
header h1 {

    position: absolute ;
    color:rgb(0,0,0);
    font-weight: solid;
    left: 37em;
    top: 6em;
    padding-bottom: 1em;

}
/*EVERYTHING BELOW REGARDS THE OUTER AND INNER GRID STYLE AND LAYOUT*/
#grid{
    width:inherit;
    height:inherit;
    display: grid;
    grid-gap: 0cm;
    grid-template-columns: 8cm 43.5cm ;

}

#gridInsideMainFrame{
    display: grid;



}

#unMatchBox{
    margin-top: 2cm;
    grid-column:1;
    grid-row:1;
}

#matchBox{
    margin-top: 2cm;
    grid-column:2;
    grid-row:1;
}
/*EVERYTHIN BELOW REGARDS THE TABLE STYLE*/

#mainframe{
    width:100%;
    height:100%;





}
#unMatchTable{

    margin-left: 1cm;
    width:10cm;
    border:10px solid rgb(255,190,200) ;
}
#matchTable{


    width:18cm;
    margin-left: 1cm;
    border:10px solid rgb(255,190,200) ;
}
.infoRow{
    border: 10px groove rgb(0,0,0);
}
.menColumn , .womenColumn, .unMatched{
    border: 10px groove rgb(255,190,200);

}


td{
    height: 3cm;
    border: 10px groove rgb(255,190,200);
}

tr:not(.matchHeader):not(.unMatchHeader):hover{
    height:3cm;
    background-color: rgb(0,150,0);

    color: white;
}

/*
#matchTable tr:nth-child(1):hover{
    background-color:none;
    color:#000;
    text-decoration:none;
}*/

.selected{
    background-color: rgb(0,250,0);

}


/* EVERYTHING BELOW REGARDS THE SIDEBAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 7.5cm;
    height: 1000px;
    background-color: #f1f1f1;
    background-color: rgb(255,255,255);
}

li a {
    display: block;
    color: #000;
    padding: 80px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: rgb(0,50,255);
    color: white;
}
/*tr td:hover{
    background-color: rgb(215,15,192);;
    color: white;
}*/
#mySidebar{
    width: 8cm;
    height:auto;
    border: 10px groove rgb(254,127,156);

    style:block;
}
/*BUTTONS*/
#match{

    width:5.5cm;
    grid-column:1;
    grid-row:2;
    margin-left: 1cm;
}
#startEvent{
    margin-left: 1cm;
}
.buttons:hover{
    background-color: rgb(50,0,255);
}
.uClickAble:disabled{
    background: #dddddd;
}

#timer{
    margin-left: 1cm;
    grid-column:1;
    grid-row:3;
}
