@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';
@import 'https://fonts.googleapis.com/css?family=ABeeZee';
body {
    width:100%;
    height:100%;
    font-family: "ABeeZee" ,Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.8cm;
    margin: 0 auto;
    background-color: rgb(125,150,250); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(125,150,250), white);
}

/*Alla h1 och h2-element har den här textstorleken*/
h1{
    font-size:2.5cm;
}
h2{
    font-size:2cm;
}

/*main elementet ska sträcka sig över hela skärmen*/
main{

    width:100%;
    height:100%;
}

header{
    margin-top:  1em;
    margin-bottom: 0.5cm;
    border: 10px groove black;
    height: 10em;
    text-align:center;

}

/*Flytta texten 'Welcome to SonicDating!' från toppen*/
#header1 h1{
    margin-top: 2.5cm;
}

/*EVERYTHING BELOW REGARDS THE OUTER AND INNER GRID STYLE AND LAYOUT*/
#grid{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 10px solid black;

}

#gridInsideMainFrame{
    display: grid;
    grid-gap: 7cm;
    grid-template-columns: 5cm 10cm ;

}

#unMatchBox{
    margin-top: 2cm;
}

#matchBox{
    margin-top: 2cm;

}
/*EVERYTHIN BELOW REGARDS THE TABLE STYLE*/

#mainframe{
    display:grid;
    width:100%;
    height:100%;

    grid-template-columns: 40cm;
    justify-content:center;


}
#eventState{
    width: 100%%;
    text-align: center;
}
#unMatchTable{

    margin-left: 1cm;
    width:10cm;
    border:10px solid black ;
}
#matchTable{
    width:18cm;
    margin-left: 1cm;
}
.infoRow{
    border: 10px groove rgb(0,0,0);
}
.menColumn , .womenColumn, .unMatched{
    border: 10px groove black;
}

td{
    height: 3cm;
    border: 10px groove black;
}

tr:not(.matchHeader):not(.unMatchHeader):hover{
    height:3cm;
    background-color: rgb(200,200,200);

    color: black;
}

/*
#matchTable tr:nth-child(1):hover{
    background-color:none;
    color:#000;
    text-decoration:none;
}*/

.selected{
    background-color: rgb(0,200,0);

}
.selectedTable{
    background-color: rgb(0,200,0);

}

/* EVERYTHING BELOW REGARDS THE SIDEBAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 7.5cm;
    height: 100% auto;
    /*height: 1000px;*/
}

li button {
    display: block;
    color: #000;
    padding: 180px 16px;
    width:100%;
    text-decoration: none;
}

/* Change the link color on hover */
li button:hover {
    background-color:  rgb(200,200,200);
    color: black;
}
/*tr td:hover{
    background-color: rgb(215,15,192);;
    color: white;
}*/
#mySidebar{
    width: 8cm;
    height:100%;
    border: 10px groove black;
    margin-left: auto;
    style:block;
    background-image: linear-gradient(rgb(125,150,250), white);
    justify-self:left;
}
/*BUTTONS*/
button{
    border:5px solid black;
    font-size:30px;
}

#match{

    width:5.0cm;
    margin-left: 1cm;
}
#algorithmButton{
    width:5.0cm;
    margin-top: 0.5cm;
    margin-left:1cm;
}
#startEvent{
    margin-left: 1cm;
}
.buttons:hover{
    background-color: rgb(125,150,250);
}
.uClickAble:disabled{
    background: rgb(200,200,200);
}

#timer{
    text-align:center;
}

/*Unmatch button*/
.unMatchButton{
    text-align: center;
}

/*USER RATINGS SECTION*/

#userRatings{
    display:none;
}
#hideRatingsButton{
    display:none;
}
