<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/contact_information.css">


    <title>SonicDating</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <section >
    </section>
    <main id="main">
      <!-- <h2>Who do you want to share contact information with?</h2> -->
      <p>
        <label>Who do you want to share contact information with?:</label><br />
        <input type="checkbox" id="date_1" name="share" />
        <label for="date_1">Date 1</label><br />
        <input type="checkbox" id="date-2" name="share" />
        <label for="date_2">Date 2</label><br />
        <input type="checkbox" id="date_3" name="share" />
        <label for="date_3">Date 3</label>
      </p>
      <button><a href="/confirm_contact_information">Send</a></button>
    </main>
  </body>

</html>
