<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="css/deli-very.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <title>SonucDating!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <section >
    </section>
    <main id="main">
      <form>
            <p>
              <label for="fullname">Full name:</label><br />
              <input type="text" id="fullname" name="fn" required="required" placeholder="First and Last name" />
            </p>
            <p>
              <label for="phone">Phone number:</label><br />
              <input type="text" id="phone" name="pn" required="required" placeholder="Phone number" />
            </p>
            <p>
              <label for="email">E-mail:</label><br />
              <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
            </p>
            <p>
              <label for="age">Age:</label><br />
              <input type="number" id="age" name="age" required="required" placeholder="Age (in years)" />
            </p>
            <p>
              <label>Gender:</label><br />
              <input type="radio" id="male" name="gr" />
              <label for="male">Male</label><br />
              <input type="radio" id="female" name="gr" />
              <label for="female">Female</label><br />
            </p>
      </form>
      <button type="submit"><a href="waiting_for_matching.html">Send Info</a></button>
    </main>
  </body>

</html>
