<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="css/deli-very.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <title>Order your burgers!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <header id="header">
      <h1>Welcome to SonicDating! </h1>
    </header>
    <section >
    </section>
    <main id="main">
      <p>Här ska formuläret vara</p>
    </main>
  </body>

</html>
