<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/go_to_table.css">


    <title>SonicDating</title>
    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="10;URL=/review"> 
  </head>

  <body>
    <section >
    </section>
    <main id="main">
      <h2>Go to table 5.</h2><br />
      <h2>You will meet Ingmar.</h2>
    </main>
  </body>

</html>
