<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="css/deli-very.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <title>Order your burgers!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <header id="header">
      <h1>Welcome to SonicDating! </h1>
    </header>
    <p>This is a speed-dating site, mainly used by people who wants to find their true love. You are the manager of this event and you're job is to start and make sure that everything goes smoth! Begin by going to algorithm and click the button!<br><br>
      //The develop team</p>
    <a href="/"><button>Click here to go back</button></a>
    <!--------------------------MAINFRAME---------------->
    <main id="main">

    </main>
  </body>

</html>
