<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="css/deli-very.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">



    <meta charset="utf-8"/>
  </head>

  <body>
    <header id="header">
      <h1>Welcome to SonicDating! </h1>
    </header>

    <!--------------------------MAINFRAME---------------->
    <main id="main">
      <div id="StartAlgorithm">
        <button >
          Start Algorithm
        </button>
        <a href="/manager_start">Click here to go back!</a>
      </div>
      <!-----------------SIDEBARSECTION-------------------->
    </main>
  </body>

</html>
