<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/confirm_contact_information.css">


    <title>SonicDating</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <section >
    </section>
    <main id="main">
      <h2>You have shared information with</h2>
      <ul>
        <li>Date 2</li>
        <li>Date 3</li>
      </ul>
      <table>
        <tr>
          <td>
            <button><a href="/contact_information">Regret</a></button>
          </td>
          <td>
            <button><a href="/contact_information_sent">Confirm</a></button>
          </td>
        </tr>
      </table>
    </main>
  </body>

</html>

  <!-- <body> -->
  <!--   <section > -->
  <!--   </section> -->
  <!--   <main id="main"> -->
  <!--     <h2>You have shared information with</h2> -->
  <!--     <table> -->
  <!--       <tr> -->
  <!--         <td> -->
  <!--           <ul> -->
  <!--             <li>Date 2</li> -->
  <!--             <li>Date 3</li> -->
  <!--           </ul> -->
  <!--         </td> -->
  <!--         <td> -->
  <!--           <table> -->
  <!--             <tr> -->
  <!--               <td> -->
  <!--                 <button><a href="/contact_information">Regret</a></button> -->
  <!--               </td> -->
  <!--             </tr> -->
  <!--             <tr> -->
  <!--               <td> -->
  <!--                 <button><a href="/contact_information_sent">Confirm</a></button> -->
  <!--               </td> -->
  <!--             </tr> -->
  <!--           </table> -->
  <!--         </td> -->
  <!--       </tr> -->
  <!--     </table> -->
  <!--   </main> -->
  <!-- </body> -->
