<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/form.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">


    <title>SonicDating!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <main id="main">
      <div id="buttonbox">
        <button v-on:click="viewContactInfo()" id="contactInfoButton" type="button">Contact info</button>
        <button v-on:click="viewRatings()" id="viewRatings">Rating history</button>
      </div>
      <div id="register">
        <form>
          <p>
            <label for="fullname">Full name</label><br />
            <input type="text"  v-model="fullname" id="fullname" placeholder="First and Last name"  />
          </p>
          <p>
            <label for="phone">Phone number</label><br />
            <input type="phone" id="phone" name="pn" placeholder="Phone number" v-model="phone" />

          </p>
          <p>
            <label for="email">E-mail</label><br />
            <input type="email" id="email" name="em" placeholder="E-mail address" v-model="email"/>

          </p>
          <p>
            <label for="age">Age</label><br />
            <input type="phone" id="age" name="age" placeholder="Age (in years)" v-model="age"/>

          </p>

          <p>
            <label>Gender</label><br />
            <input type="radio" id="male" name="gender" value="Male" v-model="gender"/>
            <label for="male">Male</label><br />
            <input type="radio" id="female" name="gender" value="Female" v-model="gender"/>
            <label for="female">Female</label><br/>

        </form>
      </div>
      
      <button v-on:click="sendInfo" id="sendButton" > Send info</button>
      <div id="waitroom">
        <h1>Wait a moment!</h1>
      </div>
      <div id="participantEvent">

        <div id="dates">
          <h1>You will meet {{currentDate}} at {{ seat}}</h1>
        </div>
      <br>
	  <div class="map">
	    <div class="table 1">1</div>
	    <div class="table 2">2</div>
	    <div class="table 3">3</div>
	    <div class="table 4">4</div>
	    <div class="table 5">5</div>
	    <div class="table 6">6</div>
	    <div class="table 7">7</div>
	    <div class="table 8">8</div>
	    <div class="table 9">9</div>
	    <div class="table 10">10</div>
	  </div>

</div>

<div class="rating">
  <form id="rating">
    <h1>Review your date</h1></br>

    <h2>Did your date talk too much?</h2>
    <h2>1 = didn't say much,</h2>
    <h2>5 = talked way too much</h2>
    <br></br>
    <input type="radio" id="a2.1" name="q2" value="1" v-model="rating2"><label for="a2.1">1</label>
    <input type="radio" id="a2.2" name="q2" value="2" v-model="rating2"><label for="a2.2">2</label>
    <input type="radio" id="a2.3" name="q2" value="3" v-model="rating2"><label for="a2.3">3</label>
    <input type="radio" id="a2.4" name="q2" value="4" v-model="rating2"><label for="a2.4">4</label>
    <input type="radio" id="a2.5" name="q2" value="5" v-model="rating2"><label for="a2.5">5</label>

    <br></br>
    <h2>Did you find your date funny?</h2>
    <h2>1 = not funny at all,</h2>
    <h2>5 = really funny</h2>

    <br></br>

    <input type="radio" id="a3.1" name="q3" value="1" v-model="rating3"><label for="a3.1" >1</label>
    <input type="radio" id="a3.2" name="q3" value="2" v-model="rating3"><label for="a3.2" >2</label>
    <input type="radio" id="a3.3" name="q3" value="3" v-model="rating3"><label for="a3.3" >3</label>
    <input type="radio" id="a3.4" name="q3" value="4" v-model="rating3"><label for="a3.4" >4</label>
    <input type="radio" id="a3.5" name="q3" value="5" v-model="rating3"><label for="a3.5" >5</label>
    <br><br>
    <h2>What was your overall impression of your date?</h2>
    <h2>1 = really bad, </h2>
    <h2>5 = really good</h2>
    <br></br>

    <input type="radio" id="a1.1" name="q1" value="1" v-model="rating1"><label for="a1.1" >1</label>
    <input type="radio" id="a1.2" name="q1" value="2" v-model="rating1"><label for="a1.2" >2</label>
    <input type="radio" id="a1.3" name="q1" value="3" v-model="rating1"><label for="a1.3" >3</label>
    <input type="radio" id="a1.4" name="q1" value="4" v-model="rating1"><label for="a1.4" >4</label>
    <input type="radio" id="a1.5" name="q1" value="5" v-model="rating1"><label for="a1.5" >5</label>
  </form>
  <button id="ratingButton" v-on:click="sendRating" type="submit">Send rating</button>
</div>

<div id="sharescreen">
  <h1>Your matches!</h1>
  <hr>
  <div id="receiveInformation" v-for=" person in shareinfo">
    <h2>{{person.name}}, {{person.age}} years old also wants to keep in touch with you!</h2>
      <br>
      <p> You can reach {{person.name}} at the phonenumber {{person.phone}} or by this e-mail {{person.email}} </p>
    <hr>
    <br><br>
  </div>
</div>
<div id="share">

  <form id="markscreen">
    <h1>Select the ones you want to keep in touch with below!</h1>
    <div v-for="user in ratedDates" id="marked">
      <input v-bind:id=user.name type="checkbox" v-model="ratings" v-bind:value=user.name>
      <label v-bind:for=user.name> {{user.name}} </label>

    </div>

  </form>
  <button v-on:click="sendInformation" id="sendInformation">Confirm</button>
</div>

<div id="contactInfo">
  <h1>Previous matches!</h1>
  <div id="listContactInfo" v-for=" person in contactInfo">
    <h2>Name - {{person.name}}</h2> <br>
	<p>{{person.name}}'s Phone number - {{person.phone}}</p><br>
	<p>{{person.name}}'s E-mail - {{person.email}} </p><br></br>
    <hr>
  </div>

  <button v-on:click="goBack()" id="goBackButton" type="button">Go back</button>
  <button v-on:click="clearData()" id="clearDataButton" type="button">Clear data</button>
</div>

<div id="formerRatings">
  <h1>Rating history</h1>
  <div v-for="date in ratedDates">

    <p class="ratingValues">{{date.name}} Got a {{date.fst}} on "What was your overall impression of your date? 1 = really bad,  5 = really good"</p>
    <br>
    <br>

    <p class="ratingValues">{{date.name}} Got a {{date.snd}} on "Did your date talk too much? 1 = didn't say much, 5 = talked way too much"</p>
    <br>
    <br>

    <p class="ratingValues">{{date.name}} got a {{date.rd}} on "Did you find your date funny? 1 = not funny at all, 5 = really funny"</p>
    <br>
    <br>

    <hr>
  </div>
  <button v-on:click="hideRatings()" id="hideRatingsButton">Go back</button>
</div>
</main>
</body>

</html>
