<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/form.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">


    <title>SonicDating!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <section >
    </section>
    <main id="main">
      <div id="register">
        <form>
          <p>
            <label for="fullname">Full name:</label><br />
            <input type="text"  v-model="fullname" id="fullname" placeholder="First and Last name"  />
          </p>
          <p>
            <label for="phone">Phone number:</label><br />
            <input type="phone" id="phone" name="pn" placeholder="Phone number" v-model="phone" />

          </p>
          <p>
            <label for="email">E-mail:</label><br />
            <input type="email" id="email" name="em" placeholder="E-mail address" v-model="email"/>

          </p>
          <p>
            <label for="age">Age:</label><br />
            <input type="phone" id="age" name="age" placeholder="Age (in years)" v-model="age"/>

          </p>

          <p>
            <label>Gender:</label><br />
            <input type="radio" id="male" name="genderr" value="Male" v-model="gender"/>
            <label for="male">Male</label><br />
            <input type="radio" id="female" name="gender" value="Female" v-model="gender"/>
            <label for="female">Female</label><br/>

        </form>
      </div>
      <button v-on:click="sendInfo" id="sendButton" > Send info</button>

      <div id="participantEvent">
        <div id="timer">

        </div>
        <div id="dates" >
          you will meet: {{dates}}
        </div>
        <br>
        <p class="joined" >Participant that have joined the event so far:</p>
        <div class="joined" v-for="i in users">
          {{i.participant}}
        </div>


      </div>

      <div class="rating">
         <form id="rating">
          <h2>Review your date:</h2></br>
          <label>What did you think about your date?</label>
          <br></br>
          <input type="radio" name="q1">1</input>
          <input type="radio" name="q1">2</input>
          <input type="radio" name="q1">3</input>
          <input type="radio" name="q1">4</input>
          <input type="radio" name="q1">5</input>
          <br></br>
          <label>Did your date talk too much?</label>
          <br></br>
          <input type="radio" name="q2">1</input>
          <input type="radio" name="q2">2</input>
          <input type="radio" name="q2">3</input>
          <input type="radio" name="q2">4</input>
          <input type="radio" name="q2">5</input>
          <br></br>
          <label>Do you want to date this person again?</label>
          <br></br>
          <input type="radio" name="q3">1</input>
          <input type="radio" name="q3">2</input>
          <input type="radio" name="q3">3</input>
          <input type="radio" name="q3">4</input>
          <input type="radio" name="q3">5</input>

          <button onclick="buttonClicked()" type="submit"><a id="link" href="/waiting_for_matching">Send Info</a></button>
        </form>
      </div>
    </main>
  </body>

</html>
