<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/form.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">


    <title>SonicDating!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <section >
    </section>
    <main id="main">
      <div id="register">
        <form>
          <p>
            <label for="fullname">Full name:</label><br />
            <input type="text"  v-model="fullname" id="fullname" placeholder="First and Last name"  />
          </p>
          <p>
            <label for="phone">Phone number:</label><br />
            <input type="phone" id="phone" name="pn" placeholder="Phone number" v-model="phone" />

          </p>
          <p>
            <label for="email">E-mail:</label><br />
            <input type="email" id="email" name="em" placeholder="E-mail address" v-model="email"/>

          </p>
          <p>
            <label for="age">Age:</label><br />
            <input type="phone" id="age" name="age" placeholder="Age (in years)" v-model="age"/>

          </p>

          <p>
            <label>Gender:</label><br />
            <input type="radio" id="male" name="genderr" value="Male" v-model="gender"/>
            <label for="male">Male</label><br />
            <input type="radio" id="female" name="gender" value="Female" v-model="gender"/>
            <label for="female">Female</label><br/>

        </form>
      </div>
      <button v-on:click="sendInfo" id="sendButton" > Send info</button>

      <div id="participantEvent">
        <div id="timer">

        </div>
        <div id="dates" >
          you will meet: {{dates}}
        </div>
        <br>
        <p class="joined" >Participant that have joined the event so far:</p>
        <div class="joined" v-for="i in users">
          {{i.participant}}
        </div>


      </div>

      <div class="rating">
        <form id="rating">
          <h2>Review your date:</h2></br>
          <label>What was your overall impression of your date? 1 = really bad,  5 = really good</label>
          <br></br>

          <input type="radio" name="q1" value="1" v-model="rating1">1</input>
          <input type="radio" name="q1" value="2" v-model="rating1">2</input>
          <input type="radio" name="q1" value="3" v-model="rating1">3</input>
          <input type="radio" name="q1" value="4" v-model="rating1">4</input>
          <input type="radio" name="q1" value="5" v-model="rating1">5</input>

          <br></br>
          <label>Did your date talk too much? 1 = didn't say much, 5 = talked way too much</label>
          <br></br>
          <input type="radio" name="q2" value="1" v-model="rating2">1</input>
          <input type="radio" name="q2" value="2" v-model="rating2">2</input>
          <input type="radio" name="q2" value="3" v-model="rating2">3</input>
          <input type="radio" name="q2" value="4" v-model="rating2">4</input>
          <input type="radio" name="q2" value="5" v-model="rating2">5</input>

          <br></br>
          <label>Did you find your date funny? 1 = not funny at all, 5 = really funny</label>
          <br></br>

          <input type="radio" name="q3" value="1" v-model="rating3">1</input>
          <input type="radio" name="q3" value="2" v-model="rating3">2</input>
          <input type="radio" name="q3" value="3" v-model="rating3">3</input>
          <input type="radio" name="q3" value="4" v-model="rating3">4</input>
          <input type="radio" name="q3" value="5" v-model="rating3">5</input>


        </form>
        <button id="ratingButton" v-on:click="sendRating" type="submit">Send rating</button>
      </div>

      <div id="share">
        <form>

          <div v-for="user in users" id="marked">
            <input type="checkbox" v-model="ratings" v-bind:value=user.participant>
            <label> {{user.participant}} </label>
          </div >
          Du har markerat dessa personer:
          {{ratings}}

          <div id="receiveInformation">
            Dessa vill också fortsätta hålla kontakten med dig!:
            {{shareinfo.join(", ")}}
          </div>

        </form>
        <button v-on:click="sendInformation" id="sendInformation">Confirm</button>
      </div>
    </main>
  </body>

</html>
