<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/dispatcher.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/go_to_table.css">


    <title>SonicDating</title>
    <meta charset="utf-8"/>
    <!--<meta http-equiv="refresh" content="5;URL=/review">-->
  </head>
  <body>
    <section >
    </section>
    <main id="main">
      <h2>Go to table 5. You will meet Ingmar</h2><br />
      <div id="orders">
        <div id="timer" v-for="(order,key) in orders">
          <p> Date ends in:</p>
          {{order.time.join(", ")}}
        </div>
      </div>
    </main>
  </body>

</html>
