<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="css/deli-very.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <title>Order your burgers!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <header id="header">
      <h1>Welcome to SonicDating! </h1>
    </header>

    <!--------------------------MAINFRAME---------------->
    <main id="main">
      <!-----------------SIDEBARSECTION-------------------->
      <section id="sidebarSection">

        <div id="grid">

          <div  id="mySidebar">

            <ul>
              <li><a href="default.asp">Algorithm</a></li>
              <li><a href="news.asp">Participant Information</a></li>
              <li><a href="contact.asp">Evaluations</a></li>
              <li><a href="about.asp">About</a></li>
              <li><a href="quit.asp">Quit</a></li>
            </ul>
          </div>
          <!--------------------------TABLE--------------------------->
          <div id="mainframe">
            <!-------------------UNMATCHED-------------------->
            <div id="gridInsideMainFrame">

              <div id="unMatchBox">
                <table id="unMatchTable">
                  <tr class="unMatchHeader">
                    <th>Unmtached</th>
                  </tr>
                  <tr  v-on:click="unMatch($event)">
                    <td class="menColumn" id="David">
                      David
                    </td>

                  </tr>
                  <tr  v-on:click="unMatch($event)">
                    <td class="womenColumn" id="Monika">
                      Monika
                    </td>
                  </tr>
                </table>
              </div>
              <!-------------------MATCHED----------------------------->
              <div id="matchBox">
                <table id="matchTable">

                  <tr class="matchHeader">
                    <th> Men</th>
                    <th> Women </th>
                  </tr>

                  <tr  v-on:click="unMatch($event)">

                    <td class="menColumn"  id="Ingmar">
                      Ingmar
                    </td>

                    <td class="womenColumn" id="Ida">
                      Ida
                    </td>
                  </tr>

                  <tr v-on:click="unMatch($event)">

                    <td class="menColumn"  id="Lars">
                      Lars-Erik
                    </td>

                    <td class="womenColumn" id="Helena">
                      Helena
                    </td>

                  </tr>

                </table>
              </div>
            </div>
            <button v-on:click="rematch">Match</button>
          </div>

        </div>
      </section>


    </main>
  </body>

</html>
