<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="css/deli-very.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <title>Order your burgers!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <header id="header">
      <h1>Welcome to SonicDating! </h1>
    </header>
    <main id="main">
      <section id="sidebarSection" >

        <div id="grid">

          <div  id="mySidebar">
            <ul>
              <li><a href="default.asp">Algorithm</a></li>
              <li><a href="news.asp">Participant Information</a></li>
              <li><a href="contact.asp">Evaluations</a></li>
              <li><a href="about.asp">About</a></li>
              <li><a href="quit.asp">Quit</a></li>
            </ul>
          </div>

          <div id="mainframe">
            <p>Lägg till hårdkodade matchningar i en tabell</p>
            <table id="myTable">
              <tr class="infoRow">
                <th> Unmatched </th>
                <th> Men</th>
                <th> Women </th>
              </tr>
              <tr id="1">

                <td class="unMatched">David</td>
                <td class="menColumn">
                  <p id="Ingmar" v-on:click="unMatch($event)">
                    Ingmar
                  </p>
                </td>

                <td class="womenColumn">
                  <p id="Ida" v-on:click="unMatch($event)">
                    Ida
                  <p>
                </td>


              </tr>

              <tr id="2">
                <td class="unMatched">
                  <p>Monika</p>
                </td>

                <td class="menColumn">
                  <p id="Lars" v-on:click="unMatch($event)"
>Lars-Erik</p>
                </td>

                <td class="womenColumn">
                  <p id="Helena" v-on:click="unMatch($event)"
>Helena</p>
                </td>

                <td>
                </td>
              </tr>
            </table>
            <button>EDIT</button>
          </div>

        </div>
      </section>


    </main>
  </body>

</html>
