<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <title>Sonic dating</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <header id="header2">
      <h1 id="">Welcome to SonicDating! </h1>
    </header>

    <!--------------------------MAINFRAME---------------->
    <main id="main">
      <!-----------------SIDEBARSECTION-------------------->

      <div id="grid">

        <div  id="mySidebar">

          <ul>
            <li><a href="/algorithm">Algorithm</a></li>
            <li><a href="/userinfo">Participant Information</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="quit.asp">Quit</a></li>
          </ul>
        </div>
        <!--------------------------TABLE--------------------------->
        <div id="mainframe">

          <div id="eventState" >
            <p>Status: Not started yet </p>
            
          </div>
          <div id="timer"> </div>
          <!-------------------UNMATCHED-------------------->
          <div id="gridInsideMainFrame">

            <div id="unMatchBox">
              <table id="unMatchTable">
                <tr class="unMatchHeader">
                  <th>Unmtached participants</th>
                </tr>
                <tr  v-on:click="unMatch($event)">
                  <td class="Female" id="Monika">
                    Monika
                  </td>
                </tr>
                <tr  v-for="i in users" v-on:click="unMatch($event)">
                  <td v-bind:class="i.gender" v-bind:id="i.participant"> {{i.participant}} {{i.gender}}</td>
                </tr>

              </table>
              <button  id="match"  class="buttons" v-on:click="rematch">Match choices</button>


            </div>

            <!-------------------MATCHED----------------------------->
            <div id="matchBox">
              <table id="matchTable">

                <tr class="matchHeader">
                  <th> Men</th>
                  <th> Women </th>
                </tr>

                <tr  v-on:click="unMatch($event)">

                  <td class="Male"  id="Ingmar">
                    Ingmar
                  </td>

                  <td class="Female" id="Ida">
                    Ida
                  </td>
                </tr>

                <tr v-on:click="unMatch($event)">

                  <td class="Male"  id="Lars">

                    Lars-Erik
                  </td>

                  <td class="Female" id="Helena">
                    Helena
                  </td>

                </tr>
              </table>
              <button id="startEvent" class="buttons" v-on:click="startEvent">Start Event</button>
            </div>

            <div>

            </div>


          </div>

        </div>

      </div>

    </main>
  </body>

</html>
