<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/previous_dates.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/previous_dates.css">
    

    <title>SonicDating!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <section >
    </section>
    <main id="main">
      

      <h1>Contact information of your previous dates:</h1>
      <div id="receiveInformation" v-for=" person in shareinfo">
        Name:{{person.name}} <br>
	Phone number: {{person.phone}}<br>
	E-mail:{{person.email}} <br></br>
      </div>

      <button id="goBackButton" type="button"><a id="previousDates" href="/form">Go back</a></button>
      <button v-on:click="clearData()" id="clearDataButton" type="button">Clear data</button>
    </main>
  </body>

</html>
