<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <script src="js/review.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/review.css">
    


    <title>SonicDating!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <section >
    </section>
    <main id="main">
      
      <h2>Review of your date:</h2></br>
      <label>What did you think about your date?</label>
      <br></br>  
      <input type="radio" name="q1">1</input>
      <input type="radio" name="q1">2</input>
      <input type="radio" name="q1">3</input>
      <input type="radio" name="q1">4</input>
      <input type="radio" name="q1">5</input>
      <br></br>      
      <label>Did your date talk too much?</label>
      <br></br>  
      <input type="radio" name="q2">1</input>
      <input type="radio" name="q2">2</input>
      <input type="radio" name="q2">3</input>
      <input type="radio" name="q2">4</input>
      <input type="radio" name="q2">5</input>
      <br></br>
      <label>Do you want to date this person again?</label>
      <br></br>  
      <input type="radio" name="q3">1</input>
      <input type="radio" name="q3">2</input>
      <input type="radio" name="q3">3</input>
      <input type="radio" name="q3">4</input>
      <input type="radio" name="q3">5</input>

      <button onclick="buttonClicked()" type="submit"><a id="link" href="/waiting_for_matching">Send Info</a></button>
    </main>
  </body>

</html>
