<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/user_shared_contact.css">


    <title>SonicDating!</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <section >
    </section>
    <main id="main">
      <h2>Ida has shared contact information with you!</h2>
    </main>
  </body>

</html>
